@using ProjeCore.Models
@model List<Personel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>ŞEHİR</th>
        <th>Birim ID</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.PersonelID</td>
            <td>@d.Ad</td>
            <td>@d.Soyad</td>
            <td>@d.Sehir</td>
            <td>@d.Birim.BirimAd</td>
            <td><a href="/Personelim/PersonelSil/@d.PersonelID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personelim/PersonelGetir/@d.PersonelID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Personelim/YeniPersonel/" class="btn btn-primary">Yeni Personel</a>
